@import 'ui/colors';
@import 'ui/typography';

.hidden {
	display: none;
}

.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
}

.user-input {
	padding: 0.75rem 1rem;
	border: 1px solid $primary;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.btn-primary {
	padding: 0.5rem 1rem;
	border: 1px solid $primary;
	border-radius: 25px;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		color: #fff;
		background: $primary;
	}
}

.pagination-container {
	display: flex;
	align-items: center;
	bottom: 0;
	justify-content: center;
	width: 100%;
}

.pagination-number,
.pagination-button {
	font-size: 1.1rem;
	background-color: transparent;
	border: 1px solid $primary;
	margin: 0.25rem 0.25rem;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: .2rem;
	color: $primary;
	cursor: pointer;
}

.pagination-number.active {
	color: #fff;
	background: #0085b6;
}

@media (min-width: 992px) {
	.col-md-6 {
		grid-column: span 6;
	}
}