---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.user-input {
    padding: 0.75rem 1rem;
    border: 1px solid violet;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 50%;
}

button#download {
    padding: 0.5rem 1rem;
    border: 1px solid violet;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}