---
layout: default
---

<header class="post-header">
    <h1 class="post-title text-primary">{{ page.title | escape }}</h1>
</header>

<div class="row">
    <input class="user-input col-md-6" id="title" type="text" placeholder="Post Title">
    <select class="user-input col-md-6" id="topic">
        <option value="0">Choose a Topic</option>
        <option value="business">Business</option>
        <option value="technology">Technology</option>
        <option value="sport">Sport</option>
    </select>
</div>

<textarea class="user-input" id="u-input"></textarea>
<button id="download" download>Download</button>
