---
layout: default
---

<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<input class="user-input" id="title" type="text" placeholder="Post Title">
<select class="user-input" id="topic">
    <option value="0">Choose a Topic</option>
    <option value="business">Business</option>
    <option value="technology">Technology</option>
</select>
<textarea class="user-input" id="u-input" cols="30" rows="10" style="width: 100%"></textarea>
<button id="download" download>Download</button>
